/* .detail styles */
	.detail {
		position: relative;
		color: #000;
		padding-left: 17px;

		&::before {
			content: '';
			position: absolute;
			// @include centered(y);
			top: 50%;
			margin-top: -7px;
			width: 12px;
			height: 12px;
			border-radius: 3px;
			background-color: $d-brown;
			left: 0;
		}
	}
/* .detail styles end*/