/* .rating styles */
.rating {
	display: flex;
	align-items: center;


}

.rating__title {
	line-height: 1.1;
	font-size: 1.3rem;
	margin-right: 10px;
	position: relative;
	top: 1px;
}
/* .rating styles end*/