/* .reserve styles */
	.reserve {
		@include mobtab {
			margin-bottom: 20px;
		}

		@include desktop {
			margin-bottom: 30px;
		}
	}

	.reserve__inner {
		@include mobile {
			@include mob-container;
		}

		@include tablet {
			@include container-tab;
		}

		@include desktop {
			@include container;
		}
	}

	.reserve__title {
		margin-bottom: 15px;
	}

	.reserve__form {
		@include tabdesk {
			display: flex;
			justify-content: space-between;
			border-radius: 3px;
			// overflow: hidden;
			box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.04);
			position: relative;
			z-index: 2;
			&::before {
				content: '';
				position: absolute;
				height: 240px;
				width: 100%;
				top: 100%;
				left: 0;
				background-color: #fff;
				box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.04),
										inset 0px 6px 10px 0 rgba(0, 0, 0, 0.04);
				transition: all .1s;
				opacity: 0;
				// z-index: -1;
				z-index: 1;
				pointer-events: none;
			}

			&.show-bg {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	.reserve__input-list {
		margin: 0;
		@include mobile {
			margin-bottom: 20px;
		}

		@include tablet {
			flex: 0 1 605px;
		}

		@include tabdesk {
			display: flex;
			background-color: #fff;
		}

		@include desktop {
			flex: 1;
		}
	}

	.reserve__input-item {
		// @include iconed;
		position: relative;
		.icon {
			color: $grey;
			@include centered(y);
		}

		@include mobile {
			
		  
		  border-radius: 3px;
		  background-color: #ffffff;
		  box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.04);
			overflow: hidden;
			// padding: 0 10px!important;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			.icon {
				left: 10px;
			}
		}

		@include tablet {
			// padding-left: 15px;
			// padding-right: 9px;
			.icon {
				left: 15px;
			}
		}

		@include tabdesk {
		
			flex: 1;
			&:not(:last-child) {
				border-right: 1px solid $l-grey;
			}

			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
		}

		@include desktop {
			// padding-left: 20px;
			// padding-right: 20px;
			.icon {
				left: 20px;
			}
		}
	}

	.reserve__input {
		border: none;
		flex-grow: 1;
		@include mobile {
			// height: 40px;
			// line-height: 39px;
			width: 100%;
			padding: 10px 20px 9px 40px;
		}

		@include tablet {
			padding-left: 45px;
		}

		@include tabdesk {
			padding-top: 30px;
			padding-bottom: 29px;


		}

		@include desktop {
			padding-left: 50px;
		}
	}

	.reserve__btn {
		@include mobile {
			width: 100%;
			text-align: center;
			padding: 10px 38px;
		}

		@include tablet {
			flex: 0 0 123px;
			// flex: 1;
			padding-left: 20px;
			padding-right: 20px;
		}
		@include tabdesk {
			border-radius: 0;
			font-size: 1.3rem;
			text-align: left;
			flex-shrink: 0;
			border-top-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		@include desktop {
			flex: 0 0 134px;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
/* .reserve styles end*/