/* .star styles */
.stars {
	display: flex;
	align-items: center;


}

.stars__item {
	width: 19px;
	height: 18px;
	@extend %img-center;
	margin-left: 1px;
	margin-right: 1px;

	&:first-child {
		margin-left: 0;
	}

	.icon {
		color: #fff;
		stroke: $brown;
	}

	&.full {
		.icon {
			color: $brown;
		}
	}
}
/* .star styles end*/