// Variables for current project 




//Responsive grids variaes

$sm-container-width: 728px;
$md-container-width: 991px;
$desktop-width: 1366px;
$desktop-widths: "(min-width: 1281px)";
$mobileonly: "(max-width: 767px)";
$mobtabonly: "(max-width: 1280px)";
$tabonly: "(min-width:768px) and (max-width: 1280px)";
$tabdeskonly: "(min-width: 768px)";
$deskonly: "(min-width: 1281px)";


$footer-height: 249px;
$mobile-footer-height: 529px;
$tablet-footer-height: 226px;
$brown: #d1a35a;
$d-brown: #B48842;
$grey: #808080;
$l-grey: #dfdfdf;
$bg-grey: #F4F4F4;
$green: #77bd22;
$dark: #000;