/* forms Styles */
label {
	display: block;
}


input[type=text],
input[type=tel],
input[type=number] {
	
	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weightght: 400;
		font-size: 13px;
	}

	&::-moz-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 13px;
	}

	&:-ms-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 13px;
	}
}

.default-textarea {
	resize: vertical;
	position: relative;
	z-index: 1;
}



