extends ../tpl/_template

block variables
	- var title = 'S-Service'

block content
	+b.intro
		+e.H1.title.title_default: .title__inner: b О гостинице “Сурхон”
		+e.bottom История гостницы и фотогаллерея
	+b.gallery
		+e.inner
			+e.content
				p
					|Сурхандарьинская область расположена на самом юге Узбекистана. По региону протекают реки Сурхандарья и Шерабад. Ее границы с соседним вилоятом и Таджикистаном проходят через юго-западные отроги Гиссарских гор и по хребту Бабатага. Вся территория области, кроме Сурхан-Шерабадской долины, состоит из гор. <strong>Сурхандарьинская область</strong> занимает всю Сурхан-Шерабадскую долину и прилегающие к ней предгорья Гиссарских, Бабатагских и Байсунских гор.
				p: +src('pics', 'pic-about.png')
				p
					|Дата основания города Старого Термеза, расположенного в нескольких километрах восточнее современного города, не известна. В апреле 2002 года было проведено празднование <a href="#">2500-летия города Термеза.</a>
				p
					|Термез — один из древних городов Центральной Азии, город вошёл в VI веке до н. э. в состав государства Ахеменидов, в то время описывается как древним городом. В 329 году до н. э. город завоевал Александр Македонский. Позже основатель греко-бактрийского царства Деметрий назвал город Деметрис. В составе Кушанского царства (с I по III век н. э.) город назывался Та-ли-ми (в китайских источниках Ту-ми, Тами. В этот период город становится важным центром распространения буддизма.
	+b.gallery
		+e.inner
			+e.content
				+e.H2.title Фотогаллерея
				+e.slider-wrapper
					+e.slider-photo_js.slider-display_magnific
						- for(var i = 1; i <= 13; i++)
							+e.slider-item.slider-item_magnific: img(data-lazy=`./assets/pics/pic-gallery-${i}.jpg`,alt)
				+e.thumbs-wrapper
					+e.slider-thumbs_js
						- for(var i = 1; i <= 13; i++)
							+e.thumbs-item: img(data-lazy=`./assets/pics/thumb-gallery-${i}.jpg`,alt)